@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.fondoPokemon{
  background-image: url(../../public/img/fondosCartas/fondoPokemon.svg);
  background-repeat: repeat;
}

.fondoDragonBall{
  background-image: url(../../public/img/fondosCartas/DragonBallFondo.png);
  background-repeat: repeat;
}

header{
  width: 100% !important;
  height: 80px !important;
  background-color: rgba(78, 10, 99, 0.6);
  position: fixed;
  top: 0;
  left: 0;
}

main{
  width: 100% !important;
  min-height: 100vh !important;
  background-color: rgba(247, 247, 247, 0.6);
  padding-top: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
  border: none;
  box-shadow: 0px 8px 15px rgba(34, 47, 62, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btnRed {
  background-color: rgb(239, 68, 68);
}

.btnOrange {
  background-color: rgb(234, 88, 12);
}

.btnBlue {
  background-color: rgb(37, 99, 235);
}

.btnEmerald {
  background-color: rgb(5, 150, 105);
}

.btnRed:hover {
  box-shadow: 0px 15px 20px rgba(34, 47, 62, 0.5);
  background-color: #fff;
  color: rgb(239, 68, 68);
  transform: translateY(-4px);
}

.btnOrange:hover {
  box-shadow: 0px 15px 20px rgba(34, 47, 62, 0.5);
  background-color: #fff;
  color: rgb(251, 146, 60);
  transform: translateY(-4px);
}

.btnBlue:hover {
  box-shadow: 0px 15px 20px rgba(34, 47, 62, 0.5);
  background-color: #fff;
  color: rgb(96, 165, 250);
  transform: translateY(-4px);
}

.btnEmerald:hover {
  box-shadow: 0px 15px 20px rgba(34, 47, 62, 0.5);
  background-color: #fff;
  color: rgb(52, 211, 153);
  transform: translateY(-4px);
}